#main-page {
  max-width: 600px;
  margin: 0 auto;
}

#main-page header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 10px;
}

#player-content {
  pointer-events: none;
}

#main-page.editing #player-content {
  pointer-events: all;
}

#main-page .name-input * {
  display: inline-block;
  vertical-align: middle;
}

#main-page .name-input input[type="text"] {
  width: 8rem;
}

#main-page main {
  display: flex;
  justify-content: space-evenly;
  align-items: top;

  padding: 10px;
}

span[data-spacer] {
  display: inline-block;
  width: 5px;
}

#main-page .checklist-item {
  margin-bottom: 10px;
}

#main-page .checklist-item *{
  vertical-align: middle;
}

#main-page .checklist-item:last-child {
  margin-bottom: 0px;
}

.line-separator {
  display: inline-block;
  width: 15px;
  height: calc(var(--border-size) * 2);
  background: black;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: var(--main-color);

  text-shadow: .05em .05em #c03e428a;
}

#main-page h2.side-title {
  display: inline-block;
}

#main-page .xp-container *{
  vertical-align: middle;
}

#main-page .xp-container h2 {
  margin-inline: 10px;
}

#main-page .belief-container {
  margin-inline: 10px;
}

#main-page .belief-container input[type="text"] {
  width: 90%;
  padding: 10px;
  border: none;
}

#main-page .action-buttons {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

#main-page #clear-btn {
  color: rgb(101, 101, 101);
  pointer-events: none;
}

#main-page.editing #clear-btn {
  color: var(--main-color);
  pointer-events: all;
}

button {
  color: var(--main-color);
  padding: 10px;
  cursor: pointer;
  font-family: inherit;
}

a, a:visited {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.action-buttons a {
  padding: 10px;
}

input[type="text"] {
  border-bottom: var(--border-size) solid black
}