.stats-container {
    max-width: 50%;
    margin-top: -1rem;
}

.stat-item {
    width: max-content;
    margin-block: 15px;
}

.stat-item>* {
    display: inline-block;
    vertical-align: middle;
}

.stat-item img {
    max-width: 40px;
}

.stat-desc {
    position: relative;
}

.stat-item h3 {
    position: absolute;
    bottom: calc(-1em - 5px);
    padding: 0;
    margin: 0 auto;
}

.stat-item .check-counter>* {
    vertical-align: middle;
}

.stat-icon-container {
    padding: 5px;
    margin-right: -2px;
    border: var(--border-description);
    border-radius: 100%;
}